header{
    background-color:BD8D30;
}


/*nav section*/
nav li:nth-child(2),
nav li:nth-child(3),
nav li:nth-child(4),
nav li:nth-child(5){
    display:inline;
    background-color: #212121;
    margin:auto;
}

img{
    position:absolute;
}

/*about us*/

about us .container {
    display:flex;
}