header{
    background-color:#BD8D30;
}


/*nav section*/
nav{
    display:inline;
    background-color: #212121;
    margin:auto;
}

.highlight{
    background-color:#BD8D30;
}

.welcome{
  
        position:absolute;
}

/*about us*/

about us .container {
    display:flex;
}