/*nav section*/
nav{
    background-color: #212121;
    margin:auto;
}

img{
    display:block;
    margin-left: auto;
    margin-right: auto;
    width:100%;
}

/*about us*/

.container{
    display:flex;
}